<ion-header>
  <ion-toolbar color="black" class="ion-icon-toolbar">
         <ion-buttons slot="start"><ion-button routerLink="../../tabs/news"> <ion-icon slot="icon-only" name="arrow-back"></ion-icon></ion-button></ion-buttons>
    <ion-title>{{currentNewsStory?.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-card>

        <img src={{currentNewsStory?.image}}/>
        <ion-card-content>
               <p>{{currentNewsStory?.body}}</p>
          </ion-card-content>
    </ion-card>
    
    
</ion-content>
