<ion-header>
  <ion-toolbar class="ion-icon-toolbar" color="dark">
    <ion-buttons slot="start">
      <ion-button>
          <ion-icon slot="start" src="../../assets/spades.svg"></ion-icon>
          <!--ion-icon slot="start" name="settings"></ion-icon-->
      </ion-button>
    </ion-buttons>
    <ion-title>
      Ballincollig RFC
    </ion-title>
      <ion-buttons slot="end">
      <ion-button routerLink="/../login">
          <ion-icon name="log-in" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  padding>

<ion-tabs>

  <ion-tab-bar slot="bottom">
   
    <ion-tab-button tab="fixtures">
      <!--ion-icon name="calendar"></ion-icon-->
      <ion-label>Fixtures</ion-label>
    </ion-tab-button>
      
      <ion-tab-button tab="news">
      <!--ion-icon name="calendar"></ion-icon-->
      <ion-label>News</ion-label>
    </ion-tab-button>
      
    <ion-tab-button tab="players">
      <!--ion-icon name="contacts"></ion-icon-->
      <ion-label>Player Profiles</ion-label>
    </ion-tab-button>
      
  </ion-tab-bar>

</ion-tabs>

</ion-content>