ion-card{
    font-weight: bold
}

ion-row {
    justify-content: center;
}

.team{
    background-color: black;
    color: gold
}

.score{
    background-color: darkgrey;
    --ion-grid-column-padding: 50px;
}

