<ion-content padding>
    
    <ion-card>
        <ion-card-header *ngIf="currentMatchDetails?.date">
            {{currentMatchDetails?.date | date:'d MMM yyyy h:mm a' }}, {{currentMatchDetails?.venue}}
        </ion-card-header>
     <ion-card-content>
    
     <ion-item> 
        <ion-label position="stacked">Home Team</ion-label>
         <ion-input [(ngModel)]="homeTeam"
          type="text" value="{{currentMatchDetails?.home}}">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Away Team</ion-label>
         <ion-input [(ngModel)]="awayTeam"
          value="{{currentMatchDetails?.away}}"
          type="text">
        </ion-input>
      </ion-item>
        
    <ion-item>
        <ion-label position="stacked">Match Date</ion-label>    
        <ion-datetime
          [(ngModel)]="matchDate"
          displayFormat="D MMM, YYYY HH:mm"
          pickerFormat="DD MMM YYYY HH:mm"
          min="2019"
          max="2020-12-31"
          value="{{currentMatchDetails?.date}}"         
        >
        </ion-datetime>
      </ion-item>
         

      <ion-item>
        <ion-label position="stacked" >Team</ion-label>
          <ion-select value="{{currentMatchDetails?.team}}" [(ngModel)]="team">
            <ion-select-option value="1st XV">1st XV</ion-select-option>
            <ion-select-option value="2nd XV">2nd XV</ion-select-option>
            <ion-select-option value="Women's">Women's</ion-select-option>
            <ion-select-option value="U-18">U-18</ion-select-option>
        </ion-select>
      </ion-item>  
    
      <ion-item>
        <ion-label position="stacked">Competition</ion-label>
         <ion-input   
         [(ngModel)]="competition"
         value="{{currentMatchDetails?.competition}}"
          type="text">
        </ion-input>
      </ion-item>    

       <ion-item>
        <ion-label position="stacked">Venue</ion-label>
         <ion-input
          [(ngModel)]="venue"
          value="{{currentMatchDetails?.venue}}"
          type="text">
        </ion-input>
      </ion-item>
      
     <ion-item> 
        <ion-label position="stacked">{{currentMatchDetails?.home}}'s Score:</ion-label>
          <ion-input [(ngModel)]="homeScore"
           type="text" value="{{currentMatchDetails?.homeScore}}">
        </ion-input>
     </ion-item>
    
     <ion-item> 
        <ion-label position="stacked">{{currentMatchDetails?.away}}'s Score:</ion-label>
          <ion-input [(ngModel)]="awayScore"
           type="text" value="{{currentMatchDetails?.awayScore}}">
         </ion-input>
     </ion-item>
    
    </ion-card-content>
    </ion-card>
    
   <ion-button
    color="black"
    expand="block"
    (click)="updateMatch(currentMatchDetails?.id)">
    Update Match Information
  </ion-button>

</ion-content>
    

