<ion-header>
  <ion-toolbar color="black" class="ion-icon-toolbar">
       <ion-buttons slot="start">
           <!--ion-button routerLink="../tabs/fixtures"> <ion-icon slot="icon-only" name="arrow-back"></ion-icon></ion-button-->
            <ion-button (click)="goBack()"><ion-icon slot="icon-only" name="arrow-back"></ion-icon></ion-button>
      </ion-buttons>
    <ion-title>Admin Home</ion-title>
        <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>

<ion-tabs>

  <ion-tab-bar slot="top">
   
    <ion-tab-button tab="admin-fixtures">
      <ion-label>Fixtures</ion-label>
    </ion-tab-button>
      
      <ion-tab-button tab="admin-players">
      <ion-label>Players</ion-label>
    </ion-tab-button>
      
    <ion-tab-button tab="admin-admins">
      <ion-label>Admins</ion-label>
    </ion-tab-button>
      
  </ion-tab-bar>

</ion-tabs>
    
</ion-content>
