<ion-header class="match-details">
  <ion-toolbar>
        <ion-buttons slot="start"> <ion-button routerLink="../../tabs/tab2"> <ion-icon slot="icon-only" name="arrow-back"></ion-icon></ion-button></ion-buttons>
        <ion-title>
            <div class="small-text">{{currentMatchDetails?.team}}</div>
            <br/>
            
            <div *ngIf="currentMatchDetails?.homeScore != ''; else noScoreReceived">
                   {{currentMatchDetails?.home}}
                   {{currentMatchDetails?.homeScore}} - {{currentMatchDetails?.awayScore}} 
                   {{currentMatchDetails?.away}}
                </div>
                <ng-template #noScoreReceived>
                    <div>
                        {{currentMatchDetails?.home}}
                        v
                        {{currentMatchDetails?.away}}
                    </div>
                </ng-template> 
            <br/>
        </ion-title>
       
   </ion-toolbar>
    
</ion-header>


    <ion-tab-bar>
    <ion-tab-button tab="match-report">
      <ion-label>Report</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="team-lineup">
      <ion-label>Line Up</ion-label>
    </ion-tab-button>
        

  </ion-tab-bar>

    
    <ion-content padding>
</ion-content>
