<ion-header>
  <ion-toolbar color="black" class="ion-icon-toolbar">
        <ion-buttons slot="start"><ion-button href="../../tabs/fixtures"> <ion-icon slot="icon-only" name="arrow-back"></ion-icon></ion-button></ion-buttons>
        <ion-title>
            <div class="small-text">{{currentMatchDetails?.team}} {{currentMatchDetails?.competition}}</div>
            <br/>
            
                <div *ngIf="currentMatchDetails?.homeScore != ''; else matchNotPlayed">
                   {{currentMatchDetails?.home}}
                   {{currentMatchDetails?.homeScore}} - {{currentMatchDetails?.awayScore}} 
                   {{currentMatchDetails?.away}}
                
                </div>
             <ng-template #matchNotPlayed>    
                <div>
                   {{currentMatchDetails?.home}}
                   {{currentMatchDetails?.homeScore}} v {{currentMatchDetails?.awayScore}} 
                   {{currentMatchDetails?.away}}
                
                </div>
            </ng-template>
            <br/>
        </ion-title>
         <ion-buttons slot="end">
        <ion-icon slot="end" src="../../assets/icon/logo.svg" size="large"></ion-icon>
    </ion-buttons>
   </ion-toolbar>
    
</ion-header>

<ion-content padding>
        
    <ion-card>
          <ion-card-header *ngIf="currentMatchDetails?.date">
               {{currentMatchDetails?.date.seconds * 1000 | date:'h:mm a' }}, {{currentMatchDetails?.date.seconds * 1000 | date:'d MMM yyyy' }}, {{currentMatchDetails?.venue}}
        </ion-card-header>
        <ion-card-content>
         <ion-list>  
          
          <!-- include an if statement to see if tries have been scored - only display this item in that case -->
          <ion-item>  
            <ion-label text-wrap>Tries: <font *ngFor="let tryScorer of tryScorers">{{tryScorer.name}} </font>
            </ion-label>    
          </ion-item>
          
          <!-- include an if statement to see if conversions have been scored - only display this item in that case -->
          <ion-item>
            <ion-label text-wrap>Conversions: <font *ngFor="let conversionScorer of conversionScorers">{{conversionScorer.name}} </font></ion-label>  
          </ion-item>
          
          <!-- include an if statement to see if penalites have been scored - only display this item in that case -->
          <ion-item>
            <ion-label text-wrap>Penalties: <font *ngFor="let penaltyScorer of penaltyScorers">{{penaltyScorer.name}} </font></ion-label>            
          </ion-item>
 
          <!-- include an if statement to see if Drop Kicks have been scored - only display this item in that case -->
          <ion-item *ngIf="dropGoalScorers?.length > 0">
            <ion-label text-wrap>Drop Goals: <font *ngFor="let dropGoalScorer of dropGoalScorers">{{dropGoalScorer.name}} </font></ion-label>
          </ion-item>
             
        </ion-list>
      </ion-card-content>
    </ion-card>
    
     <ion-card *ngIf="matchReportParagraphs?.length > 0" class="left-align-text">
         <ion-card-header>
            Match Report
         </ion-card-header>
      <ion-card-content>
        <p *ngFor="let matchReportParagraph of matchReportParagraphs">{{matchReportParagraph?.paragraph}}</p>
      </ion-card-content>
    </ion-card>
    
      <ion-card *ngIf="lineup?.length > 0">
        <ion-card-header>
            Team Lineup
        </ion-card-header>
        <ion-card-content>
          <ion-list *ngFor="let player of lineup">  
            <ion-item tappable (click)="navigateToPlayerDetails(player?.firstName,player?.surname,allPlayers)">
             {{player?.number}}.  {{player?.firstName}} {{player?.surname}}  
              </ion-item>
            </ion-list>
      </ion-card-content>
    </ion-card>
   
    
</ion-content>
