// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';



ion-title {
    text-align: center;
    color: gold;
}

ion-card {
    text-align: center;
}

ion-toolbar {
    background: dark;
    color: darkblue;
    background-color: aqua;
}

ion-label {
    text-overflow: inherit;
    white-space: normal;
}

.ion-icon-toolbar {
    
    ion-icon
        {
        color: gold;
        }
    ion-toolbar{
        color: black;
    }
}


